* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #5d5298;
    padding: 15px 30px;
}

.logo{
    color: #24044d;
    font-size: 30px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: 0 15px;
}

.nav-links a{
    color: #180236;
    text-decoration: none;
    font-size: 19px;
    transition: 0.3s ease;
}

.nav-links a:hover{
    color: rgb(53, 53, 174);
}

.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    gap: 60px;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.socials {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.socials a {
    font-size: 25px;
    text-decoration: none;
}

.hero-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}

/*Styling about page*/

.about,
.education,
.learning,
.career-goal,
.what-i-do {
    max-width: 900px;
    margin: 60px auto;
    padding: 10px;
}

.about h3,
.education h3,
.learning h3,
.career-goal h3,
.what-i-do h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p,
.career-goal p {
    line-height: 1.8;
    font-size: 17px;
}

.education-card,
.learning-card,
.work-card {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background: #f5f5f5;
}

.education-card h4,
.learning-card h4,
.work-card h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.education-card p,
.learning-card p,
.work-card p {
    line-height: 1.6;
}

/*Stlying skills section*/
.skills {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

.skills h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.skill-card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #f5f5f5;
}

.skill-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.skill-card p {
    line-height: 1.6;
}